.accordionhead {
    border: 2px white solid;
    text-align: left;
    margin-top: 15px !important;
}

.ui-accordion-header{

    background-color: #005091;
    color: white;
}

.ui-accordion-header:hover {
    background-color: dimgrey;
}

.panel {
    background-color: inherit;
    color : inherit;
}

#list {
    border:1px solid white;
    width:60%;
    color: inherit;
    font: inherit !important;
    background-color: inherit;
}

option {
    background-color: inherit !important;
    color: inherit;
    padding: 5px;
    border: none !important;
}

.dict {
    text-align : left;
    white-space: nowrap;
    width: 1%;
}
::-webkit-scrollbar-thumb{
    background: darkgrey !important;
}

hr {
    color: white;
    height: 3px !important;
}
