{% import "components/form/fields_macros.html.twig" as fields %}

{% set bg = "" %}
{% if item.isDeleted() %}
    {% set bg = "asset-deleted" %}
{% endif %}

    {% set rand = random() %}
    {% set params  = params ?? [] %}
    {% set target       = params['target'] ?? item.getFormURL() %}
    {% set withtemplate = params['withtemplate'] ?? "" %}
    {% set item_type = item.getType() %}

<div class="card-body d-flex">
    <div class="col-9 flex-column">
        <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
            <div class="row flex-row align-items-start flex-grow-1">
                <div class="row flex-row">
                    {% if item.isField('address') %}
                        {{ fields.autoNameField(
                            'address',
                            item,
                            __('URL'),
                            withtemplate
                        ) }}
                    {% endif %}

                    {% if item.isField('backoffice') %}
                        {{ fields.autoNameField(
                            'backoffice',
                            item,
                            __('Backoffice URL', 'webapplications'),
                            withtemplate
                        ) }}
                    {% endif %}

                    {% if item.isField('webapplicationservertypes_id') %}
                        {{ fields.dropdownField(
                            "GlpiPlugin\Webapplications\Webapplicationservertype",
                            "webapplicationservertypes_id",
                            item.fields['webapplicationservertypes_id'],
                            "GlpiPlugin\Webapplications\Webapplicationservertype"|itemtype_name,
                        ) }}
                    {% endif %}

                    {% if item.isField('webapplicationtechnics_id') %}
                        {{ fields.dropdownField(
                            "GlpiPlugin\Webapplications\Webapplicationtechnic",
                            "webapplicationtechnics_id",
                            item.fields['webapplicationtechnics_id'],
                            "GlpiPlugin\Webapplications\Webapplicationtechnic"|itemtype_name,
                        ) }}
                    {% endif %}

                </div> {# .row #}
            </div> {# .row #}
        </div> {# .flex-row #}
    </div>
</div> {# .card-body #}
