{#
 -------------------------------------------------------------------------
 webapplications plugin for GLPI
 Copyright (C) 2015-2026 by the webapplications Development Team.

 https://github.com/InfotelGLPI/webapplications
 -------------------------------------------------------------------------

 LICENSE

 This file is part of webapplications.

 webapplications is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 webapplications is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with webapplications. If not, see <http://www.gnu.org/licenses/>.
 --------------------------------------------------------------------------
 #}

{% import "components/form/fields_macros.html.twig" as fields %}

{% set bg = "" %}
{% if item.isDeleted() %}
    {% set bg = "asset-deleted" %}
{% endif %}

    {% set rand = random() %}
    {% set params  = params ?? [] %}
    {% set target       = params['target'] ?? item.getFormURL() %}
    {% set withtemplate = params['withtemplate'] ?? "" %}
    {% set item_type = item.getType() %}

<div class="card-body d-flex">
    <div class="col-9 flex-column">
        <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
            <div class="row flex-row align-items-start flex-grow-1">
                <div class="row flex-row">
                    {% if item.isField('address') %}
                        {{ fields.autoNameField(
                            'address',
                            item,
                            __('URL'),
                            withtemplate
                        ) }}
                    {% endif %}

                    {% if item.isField('backoffice') %}
                        {{ fields.autoNameField(
                            'backoffice',
                            item,
                            __('Backoffice URL', 'webapplications'),
                            withtemplate
                        ) }}
                    {% endif %}

                    {% if item.isField('webapplicationservertypes_id') %}
                        {{ fields.dropdownField(
                            "GlpiPlugin\\Webapplications\\Webapplicationservertype",
                            "webapplicationservertypes_id",
                            item.fields['webapplicationservertypes_id'],
                            "GlpiPlugin\\Webapplications\\Webapplicationservertype"|itemtype_name,
                        ) }}
                    {% endif %}

                    {% if item.isField('webapplicationtechnics_id') %}
                        {{ fields.dropdownField(
                            "GlpiPlugin\\Webapplications\\Webapplicationtechnic",
                            "webapplicationtechnics_id",
                            item.fields['webapplicationtechnics_id'],
                            "GlpiPlugin\\Webapplications\\Webapplicationtechnic"|itemtype_name,
                        ) }}
                    {% endif %}

                </div> {# .row #}
            </div> {# .row #}
        </div> {# .flex-row #}
    </div>
</div> {# .card-body #}
